* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: #0d47a1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,.4);
    border-radius: 1em;
}

section .suggest {
  text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.links div{
  margin-bottom: 30px;
}
.links h1{
  margin-bottom: 10px;
}

.links a{
  display: block;
}

.home,.repo,.users{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home div a{
  margin: 20px 0;
  display: block;
}
.home button{
  width: fit-content;
  margin: 0 auto;
}
.home button a{
  color: black;
  text-decoration: none;
}

.repo,.users{
  justify-content: space-between;
}

a:not(button a), a:visited {
    color: #fff;
    width: fit-content;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -99999999px;
}

.hide {
    display: none;
}

.valid,
.invalid {
    margin-left: 0.25rem;
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .5em;
}

.line {
    display: inline-block;
}